@import "tailwindcss";
@import "@heroui/styles";

@config "../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #303030;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.bulk-optimizer-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow:
    0 2px 0 0 rgba(26, 26, 26, 0.07),
    inset 0 0 0 0 hsla(0, 0%, 80%, 0.5),
    inset 0 0 0 0 rgba(0, 0, 0, 0.17),
    inset 0 0 0 0 rgba(0, 0, 0, 0.13),
    inset 0 0 0 0 rgba(0, 0, 0, 0.13);
}

.badge {
  color: #616161;
  background: #0000000f;
  border-radius: 8px;
  height: 22px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.badge-success {
  background: #affebf;
  color: #014b40;
}

.badge-warning {
  background: #ffd6a4;
  color: #5e4200;
}

.badge-error {
  background: #fed1d7;
  color: #8e0b21;
}

.custom-dropi {
  position: relative;
}

.custom-dropi span {
  z-index: 1;
  background: #fff;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  top: -9px;
  left: 9px;
  display: flex;
  align-items: center;
}

.dropiLabel {
  background: linear-gradient(#F6F7FB, #fff) !important;
  color: #616161 !important;
}

.link-iconDropi img {
  margin-left: 2px;
  width: 16px;
  margin-top: -4px;
}

.custom-dropi select {
  font-size: 12px;
  font-weight: normal;
  border: 0.66px solid #8a8a8a;
  height: 32px;
  padding: 5px 33px 5px 13px;
  border-radius: 6px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fdfdfd;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.65rem center;
  background-size: 16px 12px;
}

.custom-dropi select:focus {
  outline: none;
  box-shadow: none;
  border-color: #8a8a8a;
}

.btn-primary, .custom-btn {
  border-radius: 8px;
  height: 28px;
  color: #fff;
  padding: 5px 12px;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
}

.custom-btn {
  background: #5D5FEF;
  box-shadow: inset 0 1px 0 0 #000,inset 0 0 0 1px #000,inset -2px 0 0 0 hsla(0,0%,100%,.2),inset 2px 0 0 0 hsla(0,0%,100%,.2),inset 1px 2px 0 0 hsla(0,0%,100%,.2);
  font-size: 12px;
}

.btn-default {
  border-radius: 8px;
  background: #fff;
  box-shadow: inset 0 -.0625rem 0 0 #b5b5b5,inset 0 0 0 .0625rem rgba(0,0,0,.1),inset 0 .03125rem 0 .09375rem #fff;
  height: 28px;
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  color: #303030;
  cursor: pointer;
}

.btn-outline {
  border-radius: 8px;
  height: 28px;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 500;
  white-space: nowrap;
  background: #fff;
  border: 0.66px solid #8a8a8a;
  color: #303030;
  cursor: pointer;
}

.btn-outline:disabled,
.custom-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}


.card {
  background-color: #fff;
  border-radius: 12px;
  text-decoration: none;
  padding: 16px;
  box-shadow: 0 2px 0 0 rgba(26,26,26,.07),inset 0 0 0 0 hsla(0,0%,80%,.5),inset 0 0 0 0 rgba(0,0,0,.17),inset 0 0 0 0 rgba(0,0,0,.13),inset 0 0 0 0 rgba(0,0,0,.13);
}

.custom-textarea {
  position: relative;
}

.custom-textarea .form-control {
  resize: none;
  background: #fdfdfd;
  border: .66px solid #8a8a8a;
  height: 80px;
  padding: 9px 33px 9px 13px;
  font-size: 13px;
  border-radius: 6px;
}

.custom-textarea .form-control:focus {
  box-shadow: none;
  outline: none;
}

.custom-input .form-control {
  font-size: 12px;
  font-weight: 400;
  padding: 6px 13px;
  background: #fdfdfd;
  border: .66px solid #8a8a8a;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-clip: padding-box;
  border-radius: 6px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-input .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #8a8a8a;
}